@font-face {
    font-family: "Spotify Mix";
    src: url(fonts/SpotifyMix-Regular.woff2), url(fonts/SpotifyMix-Regular.ttf);
    font-display: swap;
}

@keyframes button-hover {
    from{}
    to{
        transform: scale(1.1);
    }
}


body{
    margin: 0;
    padding: 0;
    font-family: 'Spotify Mix';
    background-color: #121212;

}

.logo-big {
    width: 100px;
    border-radius: 9999px;
}

/* Login Page */

.center-content{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login-container{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: #B3B3B3 solid 1px;
    border-radius: 20px;
    padding: 2em;
}

#title{
    margin: 0.5em 0 0 0;
}

/* Dashboard Page */

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#controls{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logout-button{
    margin-left: auto;
}

/* Table Styling */

table{
    width: 80%;
    margin: 20px 0px;
    border-collapse: separate;
    border-spacing: 0px;
}

th{
    color: white;
    font-weight: 700;
    letter-spacing: -0.02em;
    text-align: left;
    border-bottom: 1px solid #333;
    padding-bottom: 1.33em;
    
}

thead th:first-child, .table-data-row td:first-child{
    text-align: center;
}

.table-data-row:hover {
    background-color: #222222;
}

.table-data-row td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius:10px;
}

.table-data-row td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Text Styling */

h1, h2, h3, h4, p, td {
    color: white;
}

.artist-name, .is-a-play, .album-name, .playlist-id, .playlist-id-title {
    color: #B3B3B3;
}


/* Button Styles */

button{
    border: none;
    cursor: pointer;

    height: 36px;
    margin: 0px 10px;
    padding: 0px 2em;

    transition: transform 150ms;
}

.button-green-style {
    color: black;
    font-weight: 700;
    font-size: 0.875rem;
    letter-spacing: -0.01em;

    background-color: #1DB954;
    border-radius: 9999px;
}

.button-black-style {
    color: white;
    font-weight: 700;
    font-size: 0.875rem;
    letter-spacing: -0.01em;

    background-color: #282828;
    border-radius: 9999px;
}

.button-transparent-style {
    color: white;
    font-weight: 700;
    font-size: 0.875rem;
    letter-spacing: -0.01em;

    background-color: transparent;
    border: #B3B3B3 solid 1px;
    border-radius: 9999px;
}

.button-black-style:hover, .button-transparent-style:hover, .button-green-style:hover{
    transform: scale(1.04);
}